<h1>New Reward</h1>

<%= form_with(model: @reward_history, url: user_reward_histories_path(@user), local: true) do |f| %>
  <div>
    <%= f.label :receiver_id, 'Select Receiver' %>
    <%= f.select :receiver_id, options_from_collection_for_select(@other_users, :id, :name), prompt: 'Choose a user' %>
  </div>
  <div>
    <%= f.label :points, 'Points to Reward' %>
    <%= f.number_field :points, min: 1, max: @user.p5_balance, value: 1 %>
  </div>
  <p>P5 Balance: <%= @user.p5_balance %></p>

  <div>
    <%= f.submit 'Give Reward' %>
  </div>
<% end %>

<%= link_to 'Cancel', user_reward_histories_path(@user) %>
