<%= form_with(model: @user, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :p5_balance %>
    <%= form.number_field :p5_balance %>
  </div>
  <%= form.submit 'Save' %>
  <%= link_to 'Cancel', users_path %>
<% end %>
