<h1><%= @user.name %></h1>
<p>P5 Balance: <%= @user.p5_balance %></p>
<p>Reward Balance: <%= @user.rewards_balance %></p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back to Users', users_path %>
